@font-face {
    font-family: 'IBM Plex Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
}

@font-face {
    font-family: 'Signika Negative', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
}

@font-face {
    font-family: 'Oxygen', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
}

/*
Cool buttons:
Cyberpunk https://codepen.io/hirodashi/pen/YzGBYBY


*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.terminalBackground{
    background-color: #00000080;
    border-radius: 7px;
    margin: 10px 30px 10px 10px;
}

.scrollDiv{
    height: 280px;
    overflow-y: auto;
    -webkit-app-region: no-drag;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    color:white;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.body{
    -webkit-app-region: drag;
    background-image:  linear-gradient(to right bottom, #6ce0cd, #2abbb8, #049eaa, #006b8b, #015383, #013a67);
    background-attachment: fixed;
}

.header{
    display: flex;
    align-items: center;
    height:20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
}

.appTitle{
    padding-left: 15px;
    font-family: "Signika Negative", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.settings{
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    -webkit-app-region: no-drag;
}

.ceruleanButton{
    border-radius: 5px;
}

/* Box Around Slider */
.switch {
    position: relative;
    display:inline-block;
    width: 30px;
    height: 17px;
}

/* Hide checkbox */
.switch input {
    opacity:0;
    width:0;
    height:0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #ccc; Appears to be color of slider dot*/
    background-color: #015383;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    /*background-color: white; Color of unchecked background*/
    background-color: #6ce0cd;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2abbb8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2abbb8;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* 
  Fancy Button code 
  */

  .mcButton {
    /*background-color: red;*/
    /*background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), transparent);*/
    background-image:  linear-gradient(to right bottom, #6ce0cd, #006b8b);
    border-radius: 6px;
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 4px 0 0 #333797,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);
    color: white !important;
    display: block;
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 61px;
    letter-spacing: -1px;
    line-height: 61px;
    margin: 20px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
    -webkit-transition: all .1s linear;
    width: 186px;
    }
    
    .mcButton:active {
    background-color: #474EDD;
    top: 4px;
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 0 0 0 #333797,0 0 0 1px rgba(0, 0, 0, 0.4),0 0px 8px 1px rgba(0, 0, 0, 0.5);
    }
    
    .mcButton:hover {
    background-color: #5158E0;
    position: relative;
    top: -1px;
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 5px 0 0 #333797,0 5px 0 1px rgba(0, 0, 0, 0.4),0 5px 8px 1px rgba(0, 0, 0, 0.5);
    }
    
    .mcButton:active {
    background-color: #474EDD;
    top: 4px;
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 0 0 0 #333797,0 0 0 1px rgba(0, 0, 0, 0.4),0 0px 8px 1px rgba(0, 0, 0, 0.5);
    }